@media screen and (max-width: 745px) {
    body {
        flex-wrap: wrap;
    }

    canvas {
        width: 100%;
        height: 75%;
        order: 1;
        display: flex;
    }

    .menu-options {
        display: block;
        order: 2;
        width: 100%;
        
    }

    .character-select-title {
        width: 100%;
        margin: 0;
        font-size: 1.5em;
    }

    #character-select-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #character-select-form input {
        width: auto;
    }
    #character-select-form label {
        width: auto;
    }
}

@media screen and (min-width: 746px) {
    .menu-options {
        display: flex;
        flex-wrap: wrap;
        order: 0;
        max-width: 247px;
        align-items: center;
        align-content: center;
    }

    .character-select-title {
        height: 150px;
        margin: 0;
        padding: 0;
    }
    
    .character-choice {
        display: inline-flex;
        width: 40%;
    }

    .canvas {
        order: 1;
    }

    .scoreboard {
        order: 3;
    }
}