@media screen and (max-width: 745px) {
    .game-header {
        display: none;
        width: 100%;
    }
    .scoreboard {
        order: 2
    }

    canvas {
        width: 100%;
        height: 75%;
        display: flex;
    }

    .menu-options {
        display: block;
        order: 2;
        width: 100%;
        
    }

    #character-select-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #character-select-form input {
        width: auto;
    }

    #character-select-form label {
        width: auto;
    }
}

@media screen and (min-width: 746px) {
    main {
        align-content: center;
        justify-content: center;
        margin: 0 10%;
        width: 100%;
    }

    .menu-options {
        display: flex;
        flex-wrap: wrap;
        order: 0;
    }
    
    .character-choice {
        display: inline-flex;
    }

    .canvas {
        order: 1;
    }

    .scoreboard {
        order: 2;
    }
}