body {
    background: rgb(6, 92, 49);
    display: flex;
    flex-wrap: wrap;    
    text-align: center;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;

}

header {
    display: flex;
    width: 100%;
    margin: 0 10%;
}

.game-header {
    background:linear-gradient(to right,  rgb(111, 250, 111), rgb(1, 204, 255));
    margin: 0;
    width: 100%;
}


/*
GAME CANVAS
*/
canvas {
    background: #000;
}



/*
END SCREEN STYLES
*/

.alert-bg {
    background: rgb(255, 42, 42);
}

.victory-bg {
    background: rgb(111, 250, 111);
}

/* 
*
END SCREEN MODAL
*
*/

.modal-outer {
    align-self: center;
    background: rgba(77, 82, 150, 0.329);
    height: 100%;
    justify-self: center;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.modal-content {
    background: rgb(6, 28, 88);
    border-radius: 5%;
    border: solid 3px rgb(16, 132, 199);
    color: rgb(255, 255, 255);
    height: 60%;
    margin: 4% 25% 20% 25%;
    width: 50%;
}

.modal-title {
    color: rgb(221, 188, 0);
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 30px;
}

.modal-close:hover,
.modal-close:focus {
    color: rgb(241, 45, 45);
    cursor: pointer;
    text-decoration: none;
}

/*
*
MENU STYLES
*
*/

.menu-options {
    background: rgb(241, 225, 131);
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    flex: 1;
    flex-direction: row;
    -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75); 
}

.menu-instructions {
    padding-left: 5px;
}

.character-select-title {
    height: auto;
    padding-bottom: 5px;
}

#character-select-form {
    text-align: center;
}

/*
*
SCORE BOARD STYLES
*
*/

.scoreboard {
    background: rgb(255, 255, 255);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 5%;
    flex: 1;
    flex-direction: row;
}