body {
    text-align: center;
    margin: 0;
    display: flex;
    align-content: center;
}

canvas {
    background: #000;
}

.alert-bg {
    background: rgb(255, 42, 42);
}

.victory-bg {
    background: rgb(111, 250, 111);
}

.modal-outer {
    background: rgba(77, 82, 150, 0.329);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.modal-content {
    background: rgb(6, 28, 88);
    border-radius: 5%;
    border: solid 3px rgb(16, 132, 199);
    color: rgb(255, 255, 255);
    height: 60%;
    margin: 4% 25% 20% 25%;
    width: 50%;
    
}

.modal-title {
    color: rgb(221, 188, 0);
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 30px;
}

.modal-close:hover,
.modal-close:focus {
    color: rgb(241, 45, 45);
    text-decoration: none;
    cursor: pointer;
}
