.idea

\node_modules
/jamesie-things/porfolio2/TODO.txt
test.js
.vscode
linda-project
thePlayground.code-workspace
exoplanet-explorer
ud864/
reactp1/
reactp1/reactnd-contacts-server
react-playground/
reference-react-neighborhood-map
/playground
/neighborhood-map
/google-map-tutorial