body {
    background: url("manouchehr-hejazi-308120-unsplash1920.jpg") fixed no-repeat; /*BG from Photo by Manouchehr Hejazi on Unsplash (https://unsplash.com/photos/QeoXkIesiCo)*/

}

.top-nav {
    margin: auto;
    text-align: center;
    padding: 5px;
}
#center-left-history {
    width: 28%;
    padding: 5px;
    float: left;
    background: rgba(237, 243, 248, 0.7);
}
#center-right-blog-post {
    width: 68%;
    float: right;
    text-align: center;
    background-color: rgba(125, 142, 126, 0.7);
}
.no-show-bullets {
    list-style-type: none;
}
.rounded-border {
    border-radius:5px;
}