body {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 5%;
  text-align: center;
  background: rgb(155, 255, 102, 0.8);
}

.nav-item {
  display: inline-block;
  padding: 0 1em;
}

main {
  height: 100%;
  width: 100%;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
  width: 100%;
}

.cell {
  display: flex;
  color: black;
  /* background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background: #ffffff no-repeat center;
  overflow: hidden;
  border: 1px solid black;
  margin: 5px auto;
  height: calc(90vh/3);
  position: relative;
  text-align: center;
  flex-wrap: nowrap;
}

.cell1 {
  width: calc(98vw/4);
}

.cell2 {
  width: calc(98vw/2);
}

.cell3 {
  width: calc(98vw*0.75);
}

.cell4 {
  width: calc(100vw);
}

.cell-text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  color: black;
  transition: ease-in 0.4s;
}

.cell-body {
  margin: 10% auto;
  max-height: 60%;
}

.cell-header {
  position: absolute;
  top: 0;
  max-height: 20%;
  width: 100%;
  font-size: 1.25em;
}

.cell-footer {
  display: flex;
  bottom: 0;
  position: absolute;
  font-size: 1.25em;
  max-height: 20%;
  align-self: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

.cell-image {
  display: flex;
  width: 100%;
  margin: auto auto;
}

.cell-blog {
  flex-wrap: wrap;
  transition: ease-in 0.4s;
  overflow-y: scroll;
}

.cell-blog-content {
  margin-top: 70px;
}
.cell-blog-subheading {
  padding: 0;
  margin: 0;
}

.cell-blog-article {
  padding: 0;
  margin: 0;
}

.inline-link {
  display: inline;
  background-color: rgba(255,255,255,0);
  padding: 0 0.5em;
}

.cell-link {
  position: relative;
  transition: ease-in 0.5;
  width: 100%;
}

.cell-link:hover::before {
  background-color: rgb(255, 255, 255, 1);
  font-size: 0.8em;
  content: attr(data-tool-tip);
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  min-height: 30px;
  width: 100%;
  justify-content: center;
  transition: ease-in 0.5s;
}

.project-link {
  padding: 0.25em;
  background-color: rgb(255, 255, 255);
}

/* JS CALCULATOR STYLES */
#js-calculator-cell {
  background-image: url('https://codepen.io/oknoblich/pen/jarQpa/image/small.png');
  display: flex;
  background-size: 100% auto;
}

/* TIC TAC TOE STYLE */

#tic-tac-toe-cell {
  background: url('https://codepen.io/oknoblich/pen/bYaPOB/image/small.png') no-repeat center center;
  background-size: 100% auto;
  display: flex;
}

/* Neighborhood Map (coffee tracker) */
#neighborhood-map-cell {
  background-image: url('./img/fend-neighborhood-map-thumbnail.png');
  background-size: 100% auto;
  display: flex;
}

/*Arcade Game */
#fend-arcade-game-cell {
  background-image: url('./img/fend-arcade-game-thumbnail.png');
  background-size: 100% auto;
  display: flex;
}

/* UNIQUE LINK styles */

#udacity-degree-link {
  position: relative;
}

#udacity-degree-link::before {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px black solid;
  content: attr(data-tool-tip);
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  right: 0;
  bottom: -50px;
  width: 400px;
  border-radius: 5px;
}

#udacity-degree-link:hover::before {
  visibility: visible;
}

#fcc-cert-link {
  position: relative;
}

#fcc-cert-link::before {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px black solid;
  content: attr(data-tool-tip);
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  right: 0px;
  bottom: 0px;
  width: 400px;
  border-radius: 5px;
}

#fcc-cert-link:hover::before {
  visibility: visible;
  }

#profile {
  background-image: linear-gradient(rgba(44, 200, 221, 0.8), rgba(179, 216, 221, 0.8));
}

#linkedin-link {
  min-height: 40px;
  transition: ease-in 0.4s;
}

#linkedin-link:hover {
  color: rgb(255,255,255, 0);
  transition: ease-in 0.4s;
}

#linkedin-link:hover::before {
  content: ' ';
  background-image: url('./img/In-Black-75px-R.png');
  position: absolute;
  bottom: 0;
  min-height: 64px;
  min-width: 64px;
  display: flex;
  transition: ease-in 0.4s;
}

#github-link {
  min-height: 40px;
  transition: ease-in 0.4s;
}

#github-link:hover {
  color: rgb(255,255,255, 0);
  transition: ease-in 0.4s;
}

#github-link:hover::before {
  content: ' ';
  background-image: url('./img/GitHub-Mark-64px.png');
  position: absolute;
  bottom: 0;
  min-height: 64px;
  min-width: 64px;
  display: flex;
  transition: ease-in 0.4s;
}

#resume-link {
  min-height: 40px;
  transition: ease-in 0.4s;
}

#resume-link:hover {
  color: rgb(255,255,255, 0);
  transition: ease-in 0.4s;
}

#resume-link:hover::before {
  content: ' ';
  background-image: url('./img/resume-icon.svg');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  min-height: 64px;
  min-width: 64px;
  display: flex;
  transition: ease-in 0.4s;
}